<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is head <%=4+6+4 %> </h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nemo, quas quidem, molestiae enim eaque aspernatur est dolorum accusamus aut necessitatibus laboriosam! Dolores, harum. Quisquam eveniet expedita eum asperiores ullam.</p>
</body>
</html>